body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #f1f5f9;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.topbar {
    background: #0ea5e9;
    color: white;
    padding: 15px;
}

/* MAIN */
.main {
    display: flex;
    flex: 1;
}

/* LEFT PANEL */
.order-panel {
    width: 35%;
    background: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#list {
    flex: 1;
    overflow-y: auto;
}

#list li {
    background: #e2e8f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}

/* PAYMENT */
.payment input {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

/* BUTTON */
.btn-selesai {
    background: #22c55e;
    color: white;
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

/* RIGHT PANEL */
.menu-panel {
    width: 65%;
    padding: 10px;
}

/* GRID */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
}

/* CARD */
.card {
    background: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

/* RESPONSIVE HP */
@media (max-width: 768px) {
    .main {
        flex-direction: row;
    }

    .order-panel {
        width: 50%;
    }

    .menu-panel {
        width: 50%;
    }
}